.bottom-bar {
    font-family: 'Play', sans-serif;
    position: fixed;
    height: 50%;
    width: 100%;
    bottom: 10px;
    margin: 0 auto;
    right: 0;
    text-align: center;
}
.bottom-bar.close-bar-main {
    height: 33px;
}

.change-settings-btn {
    font-size: 30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50%;
    background-color: rgb(139, 96, 96);
    border: 0;
}

.change-settings-btn:hover {
    color: white;
}
.change-settings-btn:focus {
    outline: 0;
}
